@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  background-color: hsl(30, 54%, 90%);  
}

.container{
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  margin: 5% 20%;
  padding: 0 3%;
}

.image-omelette{
  width: 100%;
  border-radius: 20px;
  margin: 50px 0;
}

.recipe>h1{
  font-family: "Young Serif", serif;
  font-weight: 400 1px solid;
  font-style: normal;
}
.recipe>p{
  opacity: 75%;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 16px;
  font-style: normal;
  line-height: 2;
}

.preptime{
  margin-top: 4%;
  padding: 3%;
  background-color: hsl(330, 100%, 98%);
  border-radius: 20px;
  line-height: 3;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 16px;
  font-style: normal;
}

.preptime h3{
  color: hsl(332, 51%, 32%);
  margin: 0 2%;
}

.preptime ul{
  margin-left: 4%;
  opacity: 70%;
}

.ingredients,
.instructions{
  margin-top: 3%;
  line-height: 2;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 16px;
  font-style: normal;
  padding-bottom: 20px;
  border-bottom: hsl(30, 18%, 87%) 1px solid;
}

.ingredients>h2, 
.instructions>h2,
.nutrition>h2{
  color:hsl(14, 45%, 36%) ;
  font-family: "Young Serif", serif;
  font-weight: 400 1px solid;
  font-style: normal;
}


.number{
  font-size: large;
  font-family: "Outfit", sans-serif;
  margin: 0 15px;
  color: hsl(332, 51%, 32%);
  font-weight: bolder;
}

/*.preptime li:before,
.ingredients li::before{
  content: ' \002E';
  margin: 0 15px;
  color: hsl(332, 51%, 32%);
}

.instructions li::before{

}
*/

.ingredients ul, 
.instructions ol{
  opacity: 70%;
  margin: 0 25px;
}

.nutrition{
  margin-top: 3%;
  line-height: 2;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 16px;
  font-style: normal;
}

.nutrition p, td{
  opacity: 70%;
}

table{
  line-height: 3;
  width: 100%;
  margin: auto;
  padding-bottom: 5%;
}

td{
  border-bottom: hsl(30, 18%, 87%) 1px solid;
  padding-left: 4%;
}

.volume{
  opacity: 100%;
  color:hsl(14, 45%, 36%);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 16px;
  font-style: normal;
}


@media (min-width:375px) and (max-width:1440px) {
    
  body{
    background-color: none;
        
  }
    
  .container{
    background-color: hsl(0, 0%, 100%);
    margin: 0%;
    padding: 0%;
    border-radius: 0px;   
  }
    
  .image-omelette{
    box-sizing: border-box;
    width: 100%;
    border-radius: 0px;
    margin: 0%;
    padding: 0%;
    position: relative;
  }

  .recipe{
    width: 90%;
    margin: auto;
  }
  .recipe h1{
    padding: 3%;
  }

  .recipe p{
    padding: 3%;
    line-height: 1.5;
  }
    
  .preptime{
    padding: 3%;
    line-height: 2; 
    width: 90%;
    margin: auto;
  }
    
  .preptime ul{
    padding: 3%;
  }
    
  .ingredients,
  .instructions{
    padding: 3%;
    line-height: 2;
    width: 90%;
    margin: auto;
  }
    
  .ingredients ul, 
  .instructions ol{
    padding: 3%;
  }
    
  .nutrition{
    padding: 3%;
    width: 90%;
    margin: auto;
  }
    
  table{
    padding: 3%;
  }
        
}