@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  background-color: hsl(30, 54%, 90%); 
  display: flex; 
  justify-content: center;
  align-items: center;
  
}

.container{
  width: 45%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  margin: 2% 0;
  padding: 0 2%;
  height: auto;
}

.image-omelette{
  width: 100%;
  border-radius: 20px;
  margin-top: 40px;
}

.recipe>h1{
  font-family: "Young Serif", serif;
  font-weight: 400 ;
  font-size: 2.6rem;
  padding: 15px 0;
}
.recipe>p{
  opacity: 75%;
  font-family: "Outfit", sans-serif;
  line-height: 2;
}

.preptime{
  margin-top: 4%;
  padding: 3%;
  background-color: hsl(330, 100%, 98%);
  border-radius: 20px;
  line-height: 3;
  font-family: "Outfit", sans-serif;
}

.preptime h3{
  color: hsl(332, 51%, 32%);
  margin: 0 2%;
}

.preptime ul{
  margin-left: 4%;
  opacity: 70%;
}

.ingredients,
.instructions{
  margin-top: 3%;
  line-height: 2;
  font-family: "Outfit", sans-serif;
  padding-bottom: 20px;
  border-bottom: hsl(30, 18%, 87%) 1px solid;
}

.ingredients>h2, 
.instructions>h2,
.nutrition>h2{
  color:hsl(14, 45%, 36%) ;
  font-family: "Young Serif", serif;
  font-weight: 400;
}

.ingredients ul, 
.instructions ol{
  opacity: 70%;
  margin: 0 25px;
}

.ingredients>ul>li,
.instructions>ol>li,
.preptime>ul>li{
padding-left: 15px;
}

.ingredients>ul>li::marker,
.instructions>ol>li::marker{
  color:hsl(14, 45%, 36%) ;
  font-weight: 800;
}

.preptime>ul>li::marker{
  color: hsl(332, 51%, 32%);
  font-weight: 800;
}

.nutrition{
  margin-top: 3%;
  line-height: 2;
  font-family: "Outfit", sans-serif;
}

.nutrition p, td{
  opacity: 70%;
}

table{
  line-height: 3;
  width: 100%;
  margin: auto;
  padding-bottom: 5%;
}

td{
  border-bottom: hsl(30, 18%, 87%) 1px solid;
  padding-left: 4%;
}

.volume{
  opacity: 100%;
  color:hsl(14, 45%, 36%);
  font-family: "Outfit", sans-serif;
}


@media (min-width:375px) and (max-width:1440px) {  
  .container{
    background-color: hsl(0, 0%, 100%);
    margin: auto;
    padding: 0%;
    width: 100%;  
  }
    
  .image-omelette{
    box-sizing: border-box;
    width: 100%;
    border-radius: 0px;
    margin: 0%;
    padding: 0%;
    position: relative;
  }

  .recipe{
    width: 90%;
    margin: auto;
  }
  .recipe h1{
    padding: 3%;
  }

  .recipe p{
    padding: 3%;
    line-height: 1.5;
    font-size: 1.4rem;
  }
    
  .preptime{
    padding: 3%;
    line-height: 2; 
    width: 85%;
    margin: auto;
  }
    
  .preptime ul{
    padding-left: 5%;
    font-size: 1.4rem;
  }
    
  .ingredients,
  .instructions{
    padding: 3%;
    line-height: 2;
    width: 90%;
    margin: auto;
  }

  .ingredients ul, 
.instructions ol{
  line-height: 2;
  font-size: 1.4rem;
}
    
  .nutrition{
    padding: 3%;
    width: 90%;
    margin: auto;
  }

  .nutrition p, td{
    font-size: 1.4rem;
  }
    
  table{
    padding: 3%;
  }    
}